<%= form_with(model: @delivery_time, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :min_distance %>
    <%= f.number_field :min_distance, placeholder: "Km" %>
  </div>
    <div>
    <%= f.label :max_distance %>
    <%= f.number_field :max_distance, placeholder: "Km" %>
  </div>
    <div>
    <%= f.label :days %>
    <%= f.number_field :days, placeholder: "Digite aqui" %>
  </div>
  <% if Company.where(domain: current_user.email.split("@").last).empty? %>
    <div>
      <%= f.label :company_id %>
      <%= f.select :company_id, [["", ""]], selected: "" %>
    </div>
  <% else %>
    <div>
      <%= f.label :company_id %>
      <%= f.select :company_id, [[Company.find_by(domain: current_user.email.split("@").last).brand_name, Company.find_by(domain: current_user.email.split("@").last).id]] %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>