<%= form_with(model: @order) do |f| %>
  <% if params[:status] == "refused" %>
      <div>
      <%= f.label :status %>
      <%= f.select :status, [['Recuso', 'refused']] %>
    </div>
    <h3>Clique em Finalizar</h3>
    <%= f.submit 'Finalizar' %> 
  <% else %>
    <h3>Escolha o Carro</h3>
    <div>
      <%= f.label :status %>
      <%= f.select :status, [['Aceito', 'accepted']] %>
    </div>
    <div>
      <%= f.label :car_id %>
      <%= f.collection_select :car_id, 
      Car.where(company_id: Company.find_by(domain: current_user.email.split("@").last).id), :id, :model %>
    </div>
      <br>
      <div>
      <%= f.submit 'Finalizar' %> 
    </div>
  <% end %>
<% end %>