<h1>Serviços</h1>
<%  transporter = Company.where(domain: current_user.email.split("@")).last %>
<% if current_user.kind == 'Regular' %>
  <% if Company.find_by(domain: current_user.email.split("@").last).nil? || @orders.where(company_id: Company.find_by(domain: current_user.email.split("@").last).id).empty? %>
    <p>Não há ordem de serviço para sua empresa</p>
  <% else %>
    <% @orders.where(company_id: transporter.id).each do |o| %>
      <div>
        <h3><%= o.code %></h3>
        <dl>
          <dt>Status: </dt>
          <dd><%= Order.human_attribute_name("status.#{o.status}") %></dd>
          <dt>Para: </dt>
          <dd><%= o.delivery_address %></dd>
        </dl>
        <% if o.status == "pendent_accept" %>
          <%= link_to 'Aceitar', edit_order_path(o.id) %>
          <%= link_to "Recusar", edit_order_path(o, :status => "refused") %>
        <% elsif o.status == "finished" || o.status == "refused" %>

        <% else %>
          <%= link_to "Atualizar rota do pedido", edit_order_path(o.id) %><br>
          <% if o.position.nil? || o.time.nil? || o.date.nil? %>
             Verifique se local, horário e data foram preenchidos corretamente. Atualiza mais uma vez!
          <% else %>
             Última atualização: <%= o.position %>, <%= I18n.localize(o.date)  %> - <%= o.time.strftime("%R") %>
          <% end %>
        <% end %>
       </div>
    <% end %>
  <% end %>
<% elsif current_user.kind == 'Admin' %>
  <% if @orders.empty? %>
    <p>Não há ordens de serviço</p>
  <% else %>
    <% @orders.each do |o| %>
      <div>
        <h3><%= o.code %></h3>
        <dl>
          <dt>Status: </dt>
          <dd><%= Order.human_attribute_name("status.#{o.status}") %></dd>
          <dt>Para: </dt>
          <dd><%= o.delivery_address %></dd>
        </dl>
      </div>
    <% end %>
  <% end %>
<% end %>