<h1>Serviços</h1>
<%  transporter = Company.where(domain: current_user.email.split("@")).last %>
<% if current_user.kind == 'Regular' %>
  <% if @orders.where(company_id: Company.find_by(domain: current_user.email.split("@").last).id).empty? %>
    <p>Não há ordem de serviço para sua empresa</p>
  <% else %>
    <% @orders.where(company_id: transporter.id).each do |o| %>
      <div>
        <h3><%= o.code %></h3>
        <dl>
          <dt>Status: </dt>
          <dd><%= Order.human_attribute_name("status.#{o.status}") %></dd>
          <dt>Para: </dt>
          <dd><%= o.delivery_address %></dd>
        </dl>
        <%= button_to 'Aceitar' %> <%= button_to 'Recusar' %>
       </div>
    <% end %>
  <% end %>
<% elsif current_user.kind == 'Admin' %>
  <% if @orders.empty? %>
    <p>Não há ordens de serviço</p>
  <% else %>
    <% @orders.each do |o| %>
      <div>
        <h3><%= o.code %></h3>
        <dl>
          <dt>Status: </dt>
          <dd><%= Order.human_attribute_name("status.#{o.status}") %></dd>
          <dt>Para: </dt>
          <dd><%= o.delivery_address %></dd>
        </dl>
      </div>
    <% end %>
  <% end %>
<% end %>