<%= form_with(model: @company) do |f| %>
  <div>
    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name %>
  </div>
  <div>
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
  </div>
  <div>
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>
  <div>
    <%= f.label :freight %>
    <%= f.number_field :freight %>
  </div>
    <div>
    <%= f.label :threshold %>
    <%= f.number_field :threshold %>
  </div>
  <div>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.order(:name), :id, :name %>
  </div>
  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>