<%= form_with(model: @price, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :min_volume %>
    <%= f.number_field :min_volume, placeholder: "m³" %>
  </div>
    <div>
    <%= f.label :max_volume %>
    <%= f.number_field :max_volume, placeholder: "m³" %>
  </div>
    <div>
    <%= f.label :min_weight %>
    <%= f.number_field :min_weight, placeholder: "Kg" %>
  </div>
    <div>
    <%= f.label :max_weight %>
    <%= f.number_field :max_weight, placeholder: "Kg" %>
  </div>
  <div>
    <%= f.label :value %>
    <%= f.number_field :value, placeholder: "R$" %>
  </div>
  <% if Company.where(domain: current_user.email.split("@").last).empty? %>
    <div>
      <%= f.label :company_id %>
      <%= f.select :company_id, [["", ""]], selected: "" %>
    </div>
  <% else %>
    <div>
      <%= f.label :company_id %>
      <%= f.select :company_id, [[Company.find_by(domain: current_user.email.split("@").last).brand_name, Company.find_by(domain: current_user.email.split("@").last).id]] %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>